.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mapDiv {
  background-color: lightgray;
  height: 100vh;
}

.checkboxLabel {
  margin-right: 15px; /* Space between labels */
}

.checkbox-container {
  position: absolute; /* Hoặc fixed nếu bạn muốn nó ở một vị trí cụ thể */
  bottom: 10px; /* Điều chỉnh theo ý bạn */
  left: 10px; /* Điều chỉnh theo ý bạn */
  background: white; /* Nền trắng để dễ đọc */
  padding: 10px; /* Padding cho khoảng cách */
  z-index: 10;
}
